{% extends "partials/base.html" %}

{% block content %}

<div class="header-div" style="display: block; background-color: black;"></div>

<div class="course-info">
    <div class="prof"><img src="/static/upload/{{ course.img }}" alt="Course Professor"></div>
    <div class="course-description">
        <div class="title">{{ course.name }}</div>
        <div class="price">{{ course.price }} ₾</div>
        <div class="prof-name">კურსს გაუძღვება: {{ course.prof }}</div>
        <div class="date">თარიღი: {{ course.date }}</div>
        <div class="course-information">{{ course.description }}</div>
    </div>
</div>

{% if current_user.is_authenticated and current_user.is_admin() %}
    <a href="/edit_course/{{ course.id }}" class="btn btn-primary">კურსის ცვლილება</a>
    <a href="/delete_course/{{ course.id }}" class="btn btn-danger">კურსის წაშლა</a>
{% endif %}

{% if current_user.is_authenticated and not current_user.is_admin() %}
    <a href="{{ url_for('courses.choose_course', course_id=course.id) }}" class="btn btn-success">არჩევა</a>
{% endif %}

<script src="/static/scripts/header.js"></script>

{% endblock %}