body {
  background-color: $bg-light;
  color: $text-light;
}

body.dark {
  background-color: $bg-dark;
  color: $text-dark;
}

.main-logo {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 60px;
  }

  p {
    color: white;
    text-decoration: none;
    margin-bottom: -1px;
  }
}

.main-logo-link {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  color: $text-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background: transparent;
  transition: 0.6s ease;
  font-weight: bold;
  z-index: 1;
}

header.scrolled {
  position: fixed;
  background: $bg-dark;
}

.menu {
  display: flex;
  gap: 25px;

  .profile-icon {
    width: 30px;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
  }

  a:hover {
    box-shadow: 0 2px white;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger {
  span {
    width: 25px;
    height: 3px;
    background-color: currentColor;
  }
}

.theme-toggle {
  cursor: pointer;
  width: 30px;
}