.registration-container {
    max-width: 650px;
    padding: 30px 100px;
    height: 700px;

    h1 {
        margin-bottom: 30px;
    }

    input {
        margin-bottom: 18px;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    .registration-btn {
        color: $white;
        padding: 10px;
        margin-top: 5px;
    }

    .registration-btn:hover {
        background-color: $btn-hover;
        border-color: $btn-hover;
    }

    .registration-btn:active {
        background-color: $registration-btn;
    }
}

.login-container {
    padding: 140px 100px;
}