.registration-container {
    max-width: 650px;
    padding: 30px 100px;

    h1 {
        margin-bottom: 30px;
    }

    input {
        margin-bottom: 18px;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    .registration-btn {
        color: white;
        padding: 10px;
        margin-top: 5px;
    }

    button:hover {
        background-color: rgb(130, 163, 255);
        border-color: rgb(130, 163, 255);
        color: white;
    }

    button:active {
        background-color: $registration-btn;
    }
}

.login-container {
    padding: 140px 100px;
}