$footer-color: rgb(2, 2, 2);
$bg-light: #fff;
$text-light: #111;
$bg-dark: #070707;
$text-dark: #fff;
$footer-txt-color: rgb(158, 158, 158);
$registration-btn: #1664db;
$careers-cover: rgb(72, 72, 228);
$contact-input: #8d8d8d;
$blue: rgb(7, 65, 192);
$btn-hover: #0b5ed7;
$white: #fff;
$title: #212f3d;
$input_border: #c0c0c0;
$input_focus: rgba(13, 110, 253, 0.25);
$btn: #0d6efd;
$btn-active: #0a58ca;
$auth_shadow: rgba(0.5, 0.5, 0.5, 0.3);