.course-info {
    display: flex;
    padding: 80px 160px 50px 200px;
    width: 100%;

    .prof {
        width: 400px;
        height: 400px;
        margin-right: 30px;
        overflow: hidden;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
    }

    .course-description {
        max-width: 630px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .price {
            font-size: 20px;
            font-weight: bold;
        }

        .course-information,
        .prof-name,
        .date {
            font-family: "BPG Mrgvlovani";
        }
    }
}

.btn {
    margin-bottom: 50px;
}