{% extends "partials/base.html" %}

{% block content %}

<div class="header-div" style="display: block; background-color: black;"></div>

<!-- Course Info -->
<div class="course-info">
    <div class="prof"><img src="/static/upload/{{ current_user.profile_img }}" alt="User Photo"></div>
    <div class="course-description">
        <div class="title">მომხმარებლის სახელი: {{ current_user.username }}</div>
    </div>
</div>

<script src="/static/scripts/header.js"></script>
</body>

</html>

{% endblock %}