{% extends "partials/base.html" %}

{% block content %}

<!-- Cover -->
<div class="cover">
    <img src="/static/images/contacts-page-cover.jpg" alt="General-slider">
    <div class="contact">
        <h3>კონტაქტი</h3>
        <p class=""><a href="/">მთავარი</a> &#187; კონტაქტი</p>
    </div>
</div>

<form class="contact-form">
    <p>მოგვწერეთ</p>
    <input type="text" name="fullName" id="fullName" placeholder="სახელი და გვარი*">
    <input type="email" name="email" id="email" placeholder="ელ-ფოსტა*">
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="ტელეფონის ნომერი*"><br>
    <textarea name="message" id="message" placeholder="წერილი"></textarea><br>
    <button>გაგზავნა</button>
</form>

<p class="contact-p">კონტაქტი</p>
<div class="contact-info">
    <div>📍 თბილისი, საქართველო</div>
    <div>📞 +995 555 55 55 55</div>
    <div>📩 futuretechacademy@gmail.com</div>
</div>

<footer>
    <div class="logo">
        <a href="index.html"><img src="" alt="logo"></a>
    </div>
    <p class="footer-logo-name">FutureTech Academy</p>
    <p>მომავლის ტექნოლოგიების აკადემია</p>
    <div class="social-networks">
        <a href="https://www.facebook.com/"><img src="/static/images/soc-networks/fb.PNG" alt="fb"></a>
        <a href="https://www.instagram.com/"><img src="/static/images/soc-networks/instagram.PNG" alt="instagram"></a>
        <a href="https://www.linkedin.com/"><img src="/static/images/soc-networks/linkedin.PNG" alt="linkedin"></a>
        <a href="https://www.youtube.com/"><img src="/static/images/soc-networks/youtube.PNG" alt="youtube"></a>
    </div>
    <p>წესები და პირობები</p>
    <hr>
    <p class="copy">&copy; 2025. საქართველო, თბილისი | ყველა უფლება დაცულია</p>
</footer>

<script src="/static/scripts/header.js"></script>
</body>

</html>

{% endblock %}