<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Contact</title>
    <link rel="stylesheet" href="styles/css/style.css">
</head>

<body>
    <div id="header"></div>
    <!-- <div class="header-div"></div> -->

    <!-- Cover -->
    <div class="cover">
        <img src="images/contacts-page-cover.jpg" alt="General-slider">
        <div class="contact">
            <h3>კონტაქტი</h3>
            <p class=""><a href="index.html">მთავარი</a> &#187; კონტაქტი</p>
        </div>
    </div>
    
    <form class="contact-form">
        <p>მოგვწერეთ</p>
        <input type="text" name="fullName" id="fullName" placeholder="სახელი და გვარი*">
        <input type="email" name="email" id="email" placeholder="ელ-ფოსტა*">
        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="ტელეფონის ნომერი*"><br>
        <textarea name="message" id="message" placeholder="წერილი"></textarea><br>
        <button>გაგზავნა</button>
    </form>
    
    <p class="contact-p">კონტაქტი</p>
    <div class="contact-info">
        <div>📍 თბილისი, საქართველო</div>
        <div>📞 +995 555 55 55 55</div>
        <div>📩 futuretechacademy@gmail.com</div>
    </div>

    <div id="footer"></div>

    <script src="scripts/header-footer.js"></script>
</body>

</html>