<header>
    <h1>Logo</h1>
    <nav class="menu" id="menu">
        <a href="index.html">მთავარი</a>
        <a href="career.html" target="_blank">კარიერა</a>
        <a href="blog.html">ბლოგი</a>
        <a href="contact.html">კონტაქტი</a>
        <a href="about.html">შესახებ</a>
        <a href="registration.html">რეგისტრაცია</a>
    </nav>
    <div style="display: flex; gap: 15px; align-items: center;">
        <div class="theme-toggle" id="themeToggle">
            <i class="fa-solid fa-moon fa-lg" style="color: #ffffff;"></i>
        </div>
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>