@font-face {
  font-family: "BPG Mrgvlovani Caps";
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf") format("opentype");
}

* {
  @include reset;
}

body {
  font-family: "BPG Mrgvlovani Caps";
  text-align: center;
}

.cover {
  position: relative;
  width: 100%;

  img {
    width: 100%;
  }
}

.registration {
  position: absolute;
  top: 40%;
  left: 55%;
  color: white;
  font-size: 25px;

  p {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.registration-btn {
  padding: 20px 25px;
  border: none;
  font-family: "BPG Mrgvlovani Caps";
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: $registration-btn;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  margin-top: 30px;

  a {
    color: white;
    text-decoration: none;
  }
}

.registration-btn:hover {
  background-color: transparent;
  color: $registration-btn;
  border: 2px solid $registration-btn;
}

.registration-btn:active {
  background-color: $registration-btn;
  color: white;
}

.courses-container {
  padding: 80px;

  h4 {
    margin-bottom: 70px;
  }

  .courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    h5 {
      margin-bottom: 30px;
    }

    .card {
      width: 550px;
      height: 230px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      margin-bottom: 40px;
      border-radius: 10px;
    }

    .card:hover {
      transform: scale(1.02);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .row {
      height: 100%;
    }

    .col-md-6 {
      height: 100%;
    }

    .blue-card {
      color: white;
      background-color: $registration-btn;
      display: flex;
      align-items: center;
    }
  }
}