.header-div {
  display: none;
  height: 88px;
  background-color: transparent;
}
.about {
  position: absolute;
  top: 50%;
  left: 37%;
  color: white;
  font-size: 25px;
  h3 {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  p {
    font-family: "BPG Mrgvlovani";
    margin-top: 30px;
    font-size: 16px;
    a {
      color: white;
      text-decoration: none;
    }
    a:active {
      color: $careers-cover;
    }
  }
}
.about-info {
  margin: 50px 100px;
  text-align: left;
  p {
    font-family: "BPG Mrgvlovani";
    color: rgb(59, 59, 59);
  }
  h1 {
    color: $blue;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 60px 0px 20px 00px;
  }
  .indented {
    font-family: "BPG Mrgvlovani";
    padding-left: 20px;
    list-style: none;
    color: rgb(59, 59, 59);
    padding-left: 0;
    margin: 10px 0px 10px 00px;
  }
  .indented li::before {
    content: "🔹";
    margin-right: 8px;
  }
}
iframe{
  margin-bottom: 60px;
}
