#header-div {
    height: 88px;
    background-color: black;
}

.blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;

    h3 {
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    p {
        font-family: "BPG Mrgvlovani";
        margin-top: 30px;
        font-size: 16px;

        a {
            color: white;
            text-decoration: none;
        }

        a:active {
            color: $careers-cover;
        }
    }
}

.blogs-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px;

    .blog-card {
        width: 350px;
        margin-bottom: 50px;
        cursor: pointer;
        text-align: left;
        border-radius: 10px;
        overflow: hidden;

        .blogs-image-container {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 8px;
        }

        img {
            width: 350px;
            height: 200px;
            object-fit: cover;
            transition: all 0.3s ease;
            border-radius: 10px;
            display: block;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}

.details {
    display: flex;
    padding: 60px;

    img {
        width: 400px;
        height: 360px;
        object-fit: cover;
    }

    .blog-info {
        margin-left: 50px;
        text-align: left;

        h1 {
            margin-bottom: 40px;
        }

        p {
            font-family: "BPG Mrgvlovani";
        }
    }
}