.header-div {
  display: none;
  height: 88px;
  background-color: transparent;
}
.contact {
  position: absolute;
  top: 50%;
  left: 43%;
  color: white;
  font-size: 25px;
  h3 {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  p {
    font-family: "BPG Mrgvlovani";
    margin-top: 30px;
    font-size: 16px;
    a {
      color: white;
      text-decoration: none;
    }
    a:active {
      color: $careers-cover;
    }
  }
}
.contact-form {
  input {
    padding: 10px;
    width: 250px;
    margin: 20px 5px 20px 5px;
    border: 1px solid $contact-input;
  }
  textarea {
    width: 58%;
    height: 150px;
    padding: 15px;
    border: 1px solid $contact-input;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  button {
    padding: 15px 25px;
    border: none;
    font-family: "BPG Mrgvlovani Caps";
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: $registration-btn;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    margin-top: 30px;
  }
  button:hover {
    background-color: transparent;
    color: $registration-btn;
    border: 2px solid $registration-btn;
  }
  button:active {
    background-color: $registration-btn;
    color: white;
  }
  p {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
  }
}
.contact-p {
  font-weight: bold;
  margin-top: 80px;
  font-size: 25px;
}
.contact-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: "BPG Mrgvlovani";
  flex-wrap: wrap;

  div {
    margin: 15px 20px 80px 20px;
  }
}
