@font-face {
  font-family: "BPG Mrgvlovani";
  src: url("../fonts/bpg_mrgvlovani_2009.ttf") format("opentype");
}
footer {
  font-family: "BPG Mrgvlovani";
  bottom: 0;
  background-color: $footer-color;
  color: $footer-txt-color;
  width: 100%;
  padding: 40px;

  .logo {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    margin: 30px auto;
  }
  .footer-logo-name {
    font-size: 30px;
    margin: 10px;
  }
  .social-networks {
    width: 300px;
    height: 70px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
    }
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $footer-txt-color;
  }
  .copy{
    font-size: 13px;
  }
}
