@font-face {
  font-family: "BPG Mrgvlovani Caps";
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf") format("opentype");
}
* {
  @include reset;
}
body {
  font-family: "BPG Mrgvlovani Caps";
  text-align: center;
}
.cover {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    // height: auto;
    // display: block;
  }
}
.registration {
  position: absolute;
  top: 40%;
  left: 55%;
  color: white;
  font-size: 25px;
  p {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
.registration-btn {
  padding: 20px 25px;
  border: none;
  font-family: "BPG Mrgvlovani Caps";
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: $registration-btn;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  margin-top: 30px;
}
.registration-btn:hover {
  background-color: transparent;
  color: $registration-btn;
  border: 2px solid $registration-btn;
}
.registration-btn:active {
  background-color: $registration-btn;
  color: white;
}
