@media only screen and (max-width: 500px) {
  .header-div {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 25px;
    background-color: $bg-dark;
    align-items: flex-start;
  }

  header {
    background-color: $bg-dark;
  }

  .menu.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .cover {
    display: none;
  }

  .contact-info {
    div {
      margin: 10px 20px 20px 20px;
    }
  }

  .contact-form {
    textarea {
      margin-top: 20px;
      width: 50%;
    }
  }

  iframe {
    width: 370px;
    height: 208px;
  }

  .about-info {
    margin: 40px 40px;

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .details {
    display: block;
    padding: 40px;

    img {
      width: 320px;
      height: 280px;
      object-fit: cover;
    }

    .blog-info {
      width: 320px;
      margin-left: 50px;

      h1 {
        margin-bottom: 10px;
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .mb-0 {
    font-size: 15px;
  }
}