$footer-color: rgb(2, 2, 2);
$bg-light: #fff;
$text-light: #111;
$bg-dark: #070707;
$text-dark: #fff;
$footer-txt-color: rgb(158, 158, 158);
$registration-btn: #1664db;
$careers-cover: rgb(72, 72, 228);
$contact-input: #8d8d8d;
$blue: rgb(7, 65, 192);