@import 'variables';
@import 'mixins';
@import 'header';
@import 'index';
@import 'career';
@import 'contact';
@import 'about';
@import 'blog';
@import 'registration';
@import 'media';
@import 'footer';