@charset "UTF-8";
body {
  background-color: #fff;
  color: #111;
}

body.dark {
  background-color: #070707;
  color: #fff;
}

.main-logo {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-logo img {
  width: 60px;
}
.main-logo p {
  color: white;
  text-decoration: none;
  margin-bottom: -1px;
}

.main-logo-link {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background: transparent;
  transition: 0.6s ease;
  font-weight: bold;
  z-index: 1;
}

header.scrolled {
  position: fixed;
  background: #070707;
}

.menu {
  display: flex;
  gap: 25px;
}
.menu .profile-icon {
  width: 30px;
}
.menu a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
.menu a:hover {
  box-shadow: 0 2px white;
}

.profile {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: currentColor;
}

.theme-toggle {
  cursor: pointer;
  width: 30px;
}

@font-face {
  font-family: "BPG Mrgvlovani Caps";
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BPG Mrgvlovani Caps";
  text-align: center;
}

.cover {
  position: relative;
  width: 100%;
}
.cover img {
  width: 100%;
}

.registration {
  position: absolute;
  top: 40%;
  left: 58%;
  color: #fff;
  font-size: 25px;
}
.registration p {
  font-weight: bold;
  letter-spacing: 0.5px;
  width: 500px;
}

.registration-btn {
  padding: 20px 25px;
  border: none;
  font-family: "BPG Mrgvlovani Caps";
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: #1664db;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  margin-top: 30px;
}
.registration-btn a {
  color: #fff;
  text-decoration: none;
}

.registration-btn:hover {
  background-color: transparent;
  color: #1664db;
  border: 2px solid #1664db;
}

.registration-btn:active {
  background-color: #1664db;
  color: #fff;
}

.courses-container {
  padding: 90px;
  max-width: 1500px;
  margin: auto;
}
.courses-container h4 {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 30px;
}
.courses-container .courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.courses-container .courses h5 {
  margin-bottom: 30px;
}
.courses-container .courses .card {
  width: 550px;
  height: 230px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 40px;
  border-radius: 10px;
}
.courses-container .courses .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.courses-container .courses .row {
  height: 100%;
}
.courses-container .courses .col-md-6 {
  height: 100%;
}
.courses-container .courses .blue-card {
  color: white;
  background-color: #1664db;
  display: flex;
  align-items: center;
}

.career-cover {
  height: 200px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(72, 72, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.career-cover h2 {
  color: white;
  font-size: 36px;
}

.open-positions {
  color: rgb(34, 34, 34);
  font-size: 40px;
  margin: 50px;
}

#jobs-container .card-body {
  text-align: left;
}
#jobs-container .card-title {
  font-weight: bold;
}

.pagination {
  margin-bottom: 50px;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.contact h3 {
  font-weight: bold;
  letter-spacing: 0.5px;
}
.contact p {
  font-family: "BPG Mrgvlovani";
  margin-top: 30px;
  font-size: 16px;
}
.contact p a {
  color: white;
  text-decoration: none;
}
.contact p a:active {
  color: rgb(72, 72, 228);
}

.contact-form input {
  padding: 10px;
  width: 250px;
  margin: 20px 5px 20px 5px;
  border: 1px solid #8d8d8d;
}
.contact-form textarea {
  width: 58%;
  height: 150px;
  padding: 15px;
  border: 1px solid #8d8d8d;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form button {
  padding: 15px 25px;
  border: none;
  font-family: "BPG Mrgvlovani Caps";
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: #1664db;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  margin-top: 30px;
}
.contact-form button:hover {
  background-color: transparent;
  color: #1664db;
  border: 2px solid #1664db;
}
.contact-form button:active {
  background-color: #1664db;
  color: white;
}
.contact-form p {
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
}

.contact-p {
  font-weight: bold;
  margin-top: 80px;
  font-size: 25px;
}

.contact-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: "BPG Mrgvlovani";
  flex-wrap: wrap;
}
.contact-info div {
  margin: 15px 20px 80px 20px;
}

.header-div {
  display: none;
  height: 75px;
  background-color: transparent;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.about h3 {
  font-weight: bold;
  letter-spacing: 0.5px;
}
.about p {
  font-family: "BPG Mrgvlovani";
  margin-top: 30px;
  font-size: 16px;
}
.about p a {
  color: white;
  text-decoration: none;
}
.about p a:active {
  color: rgb(72, 72, 228);
}

.about-info {
  margin: 50px 100px;
  text-align: left;
}
.about-info p {
  font-family: "BPG Mrgvlovani";
}
.about-info h1 {
  color: rgb(7, 65, 192);
  font-size: 25px;
  letter-spacing: 1px;
  margin: 60px 0px 20px 0px;
}
.about-info .indented {
  font-family: "BPG Mrgvlovani";
  padding-left: 20px;
  list-style: none;
  padding-left: 0;
  margin: 10px 0px 10px 0px;
}
.about-info .indented li::before {
  content: "🔹";
  margin-right: 8px;
}

iframe {
  margin-bottom: 60px;
}

#header-div {
  height: 68px;
  background-color: black;
}

#blog-header-div {
  height: 68px;
  display: none;
}

.blog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.blog h3 {
  font-weight: bold;
  letter-spacing: 0.5px;
}
.blog p {
  font-family: "BPG Mrgvlovani";
  margin-top: 30px;
  font-size: 16px;
}
.blog p a {
  color: white;
  text-decoration: none;
}
.blog p a:active {
  color: rgb(72, 72, 228);
}

.blogs-container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 90px;
}
.blogs-container .blog-card {
  width: 350px;
  margin-bottom: 50px;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}
.blogs-container .blog-card .blogs-image-container {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}
.blogs-container .blog-card img {
  width: 350px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 10px;
  display: block;
}
.blogs-container .blog-card:hover img {
  transform: scale(1.1);
}

.details {
  display: flex;
  padding: 90px;
}
.details img {
  width: 400px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}
.details .blog-info {
  margin-left: 50px;
  text-align: left;
  margin-top: 15px;
}
.details .blog-info h1 {
  margin-bottom: 40px;
}
.details .blog-info p {
  font-family: "BPG Mrgvlovani";
}

.registration-container {
  max-width: 650px;
  padding: 30px 100px;
  height: 700px;
}
.registration-container h1 {
  margin-bottom: 30px;
}
.registration-container input {
  margin-bottom: 18px;
}
.registration-container input:focus {
  outline: none;
  box-shadow: none;
}
.registration-container .registration-btn {
  color: #fff;
  padding: 10px;
  margin-top: 5px;
}
.registration-container .registration-btn:hover {
  background-color: rgb(108, 145, 247);
  border-color: rgb(108, 145, 247);
}
.registration-container .registration-btn:active {
  background-color: #1664db;
}

.login-container {
  padding: 140px 100px;
}

.course-info {
  display: flex;
  justify-content: center;
  display: flex;
  padding: 80px 160px 50px 200px;
  width: 100%;
  gap: 90px;
}
.course-info .prof {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.course-info .prof img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.course-info .course-description {
  max-width: 630px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.course-info .course-description .selected-courses {
  list-style: none;
  padding: 0;
}
.course-info .course-description .selected-courses li {
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}
.course-info .course-description .selected-courses li:hover {
  transform: translateY(-2px);
}
.course-info .course-description .selected-courses li .price {
  font-weight: bold;
  color: rgb(7, 65, 192);
  margin-left: 20px;
}
.course-info .course-description .title {
  font-size: 30px;
  font-weight: bold;
}
.course-info .course-description .price {
  font-size: 20px;
  font-weight: bold;
}
.course-info .course-description .course-information,
.course-info .course-description .prof-name,
.course-info .course-description .date {
  font-family: "BPG Mrgvlovani";
}

.btn {
  margin-bottom: 50px;
}

.alert {
  width: 400px;
  margin: auto;
  top: 20px;
}

@media only screen and (max-width: 500px) {
  .header-div {
    display: none;
  }
  #blog-header-div {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    padding: 25px;
    background-color: #070707;
    align-items: flex-start;
  }
  header {
    background-color: #070707;
  }
  .menu.active {
    display: flex;
  }
  .burger {
    display: flex;
  }
  .cover {
    display: none;
  }
  .contact-info div {
    margin: 10px 20px 20px 20px;
  }
  .contact-form textarea {
    margin-top: 20px;
    width: 50%;
  }
  iframe {
    width: 370px;
    height: 208px;
  }
  .about-info {
    margin: 40px 40px;
  }
  .about-info h1 {
    font-size: 20px;
  }
  .about-info p {
    font-size: 15px;
  }
  .details {
    display: block;
    padding: 40px;
  }
  .details img {
    width: 320px;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .details .blog-info {
    width: 320px;
    margin-left: 50px;
  }
  .details .blog-info h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .details .blog-info p {
    font-size: 14px;
  }
  .mb-0 {
    font-size: 15px;
  }
  .courses-container .courses .card {
    width: 350px;
    height: 200px;
  }
  .course-info {
    display: block;
    padding: 40px 90px;
  }
  .course-info .prof {
    width: 100%;
    height: 310px;
  }
  .course-info .prof img {
    width: 100%;
    height: 310px;
  }
  .course-info .course-description {
    text-align: center;
  }
  .course-info div {
    margin-bottom: 20px;
  }
}
@font-face {
  font-family: "BPG Mrgvlovani";
  src: url("../fonts/bpg_mrgvlovani_2009.ttf") format("opentype");
}
footer {
  font-family: "BPG Mrgvlovani";
  bottom: 0;
  background-color: rgb(2, 2, 2);
  color: rgb(158, 158, 158);
  width: 100%;
  padding: 40px;
}
footer .logo {
  width: 100px;
  height: 100px;
  margin: 30px auto;
}
footer .footer-logo-name {
  font-size: 30px;
  margin: 10px;
}
footer .social-networks {
  width: 300px;
  height: 70px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social-networks img {
  width: 50px;
}
footer hr {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(158, 158, 158);
}
footer .copy {
  font-size: 13px;
}
footer .main-logo-footer img {
  width: 100px;
}/*# sourceMappingURL=style.css.map */